<!DOCTYPE html>
<html lang="en">
	<head>	
	<!-- Title -->
		<title>Social Pyle</title>

	<!-- CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/font-awesome-4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/css/bootstrap-social.css">
		<link href="/assets/css/bootstrap-switch.css" rel="stylesheet">

	<!-- Favicon -->
		<link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">

	<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
        
	<!-- JavaScript -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="/assets/js/modernizr.custom.05501.js"></script>
		<script type="text/javascript" src="/assets/js/selectivizr-min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/assets/js/bootstrap-switch.js"></script>
		<script type="text/javascript" src="/assets/js/imagesloaded.pkgd.min.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.2.2/masonry.pkgd.min.js"></script>
	</head>
	<body>
		<div id="wrapper" class="wrapper">
			<header class="lower">
				<div class="col-xs-6">
					<h1>Social Pyle</h1>
					<a href="/"><% include logo %></a>
				</div>
				<nav>
					<ul>
						<% if(user && user.fullName != undefined){ %>
						<li>
							<div class="dropdown">
								<a href="/dash" id="accountDrop" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uId="<%= user.id %>" fbId="<%= user.fbId %>" gId="<%= user.gId %>" twtId="<%= user.twtId %>"><%= user.fullName %> <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="accountDrop">
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="/dash">Feed</a>
									</li>
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="/profile/settings">Accounts</a>
									</li>
								</ul>
							</div>
						</li>
						<li><a href="/logout">Logout</a></li>
						<% }else{ %>
						<li><a href="/about">About</a></li>
						<li><a href="/pricing">Pricing</a></li>
						<li><a href="/login">Login</a></li>
						<% } %>
					</ul>
				</nav>
			</header>

			<%- body %>

		</div> <!-- wrapper -->
		<footer>
			<% include logo %>
			<nav>
				<ul>
					<% if(user){ %>
					<li><p><%= user.fullName %></p></li>
					<li><a href="/logout">Logout</a></li>
					<% }else{ %>
					<li><a href="/about">About</a></li>
					<li><a href="/pricing">Pricing</a></li>
					<li><a href="/login">Login</a></li>
					<% } %>
				</ul>
			</nav>
		</footer>

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">

		<!-- JAVASCRIPT -->
		<script type="text/javascript" src="/assets/js/main.js"></script>
		<script type="text/javascript" src="/assets/js/ajax.js"></script>

	</body>
</html>