<% layout('templates/layout') -%>

<main id="dash" class="dash">
	<aside class="dashOptions">
		<section>
			<ul>
				<li>
					<a href="">Facebook</a>
				</li>
				<li>
					<a href="">Twitter</a>
				</li>
				<li>
					<a href="">Google</a>
				</li>
			</ul>
		</section>
	</aside>
	
	<section class="cardHolder col-xs-12 js-masonry">
		<% if(twitter){ %>
			<% for(var i=0;i<twitter.feed.length;i++){ %>

				<article class="post twitter-post" style="color:#<%= twitter.feed[i].user.profile_text_color %>;">
					<input type="hidden" value="<%= twitter.feed[i].id %>" name="id" class="postId">
					<div class="arrow-right"></div>
					<p class="flag fa fa-twitter"></p>
					<div class="twtUsr">
						<img src="<%= twitter.feed[i].user.profile_image_url %>" alt="<%= twitter.feed[i].user.name %>" height="50"> 
						<p><%= twitter.feed[i].user.name %><br>
							<a href="<%= twitter.feed[i].user.url %>" style="color:#<%= twitter.feed[i].user.profile_link_color %>;">@<%= twitter.feed[i].user.screen_name %></a>
						</p>
					</div>
					<div class="media row">
					<% if(twitter.feed[i].entities.media != undefined){ %>
						<% for(var j=0;j<twitter.feed[i].entities.media.length;j++){ %>
							<% if(twitter.feed[i].entities.media[j].type == 'photo' && twitter.feed[i].entities.urls.length > 0){ %>
								<a href="<%= twitter.feed[i].entities.urls[0].url %>">
									<img class="postImg" src="<%= twitter.feed[i].entities.media[j].media_url %>" alt="<%= twitter.feed[i].entities.media[j].id %>">
								</a>
							<% }else{ %>
								<img class="postImg" src="<%= twitter.feed[i].entities.media[j].media_url %>" alt="<%= twitter.feed[i].entities.media[j].id %>">
							<% } %>
						<% } %>
					<% } %>
					</div>
					<p class="feedTxt twtFeedTxt"><%- twitter.feed[i].text %></p>
					<ul class="tweetData col-xs-12">
						<li data-toggle="tooltip" data-placement="top" title="Retweets">
							<i class="fa fa-retweet"></i> <%= twitter.feed[i].retweet_count %>
						</li>
						<li data-toggle="tooltip" data-placement="top" title="Favorites">
							<i class="fa fa-star"></i> <%= twitter.feed[i].favorite_count %>
						</li>
						<li class="pull-right" data-toggle="tooltip" data-placement="top" title="Created">
							<i class="fa fa-"></i> <%= twitter.feed[i].created %>
						</li>
					</ul>
				</article>

			<% } %>
		<% } %>

		<% if(google){ %>
			<% for(var k=0;k<google.activities.items.length;k++){ %>
				<% if(google.activities.items[k].verb == 'post'){ %>
				<article class="post google-post">
					<input type="hidden" value="<%= google.user.id %>" name="id" class="postId">
					<div class="arrow-right"></div>
					<p class="flag fa fa-google-plus"></p>
					<div class="gUsr">
						<img src="<%= google.activities.items[k].actor.image.url %>" alt="<%= google.activities.items[k].actor.displayName %>" height="50"> 
						<p><a href="<%= google.activities.items[k].actor.url %>"><%= google.activities.items[k].actor.displayName %></a></p>
					</div>
					<div class="media row">
					<% for(var l=0;l<google.activities.items[k].object.attachments.length;l++){ %>
						<% if(google.activities.items[k].object.attachments[l].objectType == 'photo'){ %>
							<img class="postImg" src="<%= google.activities.items[k].object.attachments[l].image.url %>" alt="<%= google.activities.items[k].object.attachments[l].id %>">
						<% } %>
					<% } %>
					</div>
					<p class="feedTxt gFeedTxt"><%- google.activities.items[k].object.content %></p>
					<ul class="googData col-xs-12">
						<li data-toggle="tooltip" data-placement="top" title="+1's">
							<i class="fa fa-plus"><span>1</span></i> <%= google.activities.items[k].object.plusoners.totalItems %>
						</li>
						<li data-toggle="tooltip" data-placement="top" title="Shares">
							<i class="fa fa-share"></i> <%= google.activities.items[k].object.resharers.totalItems %>
						</li>
						
					</ul>
				</article>
				<% } %>
			<% } %>
		<% } %>
	</section>
	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
</main>